.container {
    display: flex;
    flex-direction: column;
    position: relative;

    input {
        font-size: 14px;
        padding: 16px;
        outline: none;
        background-color: var(--input-background);
        border: var(--input-border);
        border-radius: var(--border-radius-primary);
        color: var(--text-primary);
    }
}