:root {
  --background-primary: #fff;
  --background-secondary: #E1E1E1;
  --button-background-primary: #0d4a59;
  --button-background-primary-hover: #0a3844;
  --button-background-secondary: #12596A;
  --button-background-secondary-hover: #125363;
  --button-background-tertiary: #E1E1E1;
  --button-background-tertiary-hover: #b4b4b4;
  --button-text-primary: #fff;
  --input-background: #E1E1E1;
  --header-primary: #0d4a59;
  --header-secondary: #126D84;
  --text-primary: #1C1E21;
  --text-secondary: #606770;
  --text-light-primary: #fff;
  --text-light-secondary: #cccccc;
  --color-primary: #0d4a59;
  --color-secondary: #12596A;
  --sorting-color-primary: #FF7171;
  --sorting-color-secondary: #D75C5C;
  --pathfinding-color-primary: #8886FF;
  --pathfinding-color-secondary: #7674DD;

  --width-main: 1100px;
  --width-main-max: 90%;
  --border-radius-primary: 10px;
  --border-radius-secondary: 8px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  font-weight: inherit;
  font-size: inherit;
}