.header {
    height: 70px;
    background-color: var(--color-primary);
    color: var(--text-light-primary);
}
.dropdown {
    position: fixed !important;
    bottom: 25px;
    left: 25px;
}
.items {
    display: flex;
    justify-content: center;
    gap: 2px;
}
.item {
    background-color: var(--color-secondary);
    border-radius: 0 0 var(--border-radius-secondary) var(--border-radius-secondary);
}